<!doctype html>
<html lang="zh-CN">

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="btn-danger btn" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" id="button1">
          潘习安  
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
          潘习安来自美国，在UPenn（宾大）毕业，在北京大学，北京语言大学中文了。习安住在北京时爱上中国和他的中国兄弟姐妹。毕业之后，习安决定帮中国得到世界上第一发展的国家，创业了DTC。
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="btn-danger btn" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" id="button1">
          张大庆
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
          张大庆来自中国的湖北省，在中国石油工作了二十年。潘习安和张大庆在大庆家一起住了一年。这个时间之内，潘习安成为了大庆非正式的养子，张大庆鼓励潘习安开DTC。
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="btn-danger btn" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" id="button1">
          DTC 集团
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
          张大庆和潘习安发现了在一起可以帮中人国采用世界上最新的产品，帮中国成为世界第一强的国家。几个月之后，他们创业了DTC。
      </div>
    </div>
  </div>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="LinkedIn.png">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>