<p> Hi! This is an about us page! </p>
<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="Shane Prebenda (Pan Xi An)">
				Shane Prebenda (Pan Xi An)
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="accordion-inner">
				Shane A. Prebenda is a native American who after studying at Peking University, Beijing Yuyan Daxue and the University of Pennsylvania in America decided he wants to help fuel China's development and is thus committed to helping China and the Chinese people through DTC.
			</div>
		</div>
	</div>
	<div class="accordion group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				Zhang Da Qing
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collpase">
			<div class="accordion-inner">
				Zhang Da Qing is a native of Hubei province and has spent over 20 years working for ZhongGuoShiYou. After forming a close father-son-like relationship, Zhang Da Qing helped fuel my motivation to come found DTC in China
			</div>
		</div>
	</div>
</div>