<!doctype html>
<html lang="zh-CN">

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="btn-primary btn" data-toggle="collapse" data-parent="#accordion" href="#collapse1"id="button1">
          D500  
        </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
          The D500 is our latest model. It has a x horsepower engine...
      </div>
      <img src="Audi_Interior.jpg" />
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="btn-primary btn" data-toggle="collapse" data-parent="#accordion" href="#collapse2"id="button1">
          D1000
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
          The D1000 is our most popular model. It has a y horsepower engine...
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="btn-primary btn" data-toggle="collapse" data-parent="#accordion" href="#collapse3"id="button1">
          D1500
        </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
          The D1500 is our largest, most powerful model. It has a z horsepower engine...
      </div>
    </div>
  </div>
</div>