<h2 id="RecentHeading">Recent Activity</h2>

<br />
<br />
<p> DTC is preparing to launch in China on February 6, 2014 after the Chinese New Year. Until that time, DTC executives will be working around the clock to expand the products, services and functionalities provided by this site.</p>
<br />
<p> We encourage our visitors to read our "About Us" page, make an account to access the deals portion of the site, and engage in the services our site has to offer at this time. Happy viewing!</p>
<br />
<p>--The DTC Team </p>