body {
	background-color: #66ff99;
	background-image: url("../assets/disposals.jpg");
	background-size: 80px 80px;
	background-repeat: repeat-x;
	background-position: 0% 18%;
	}

h2 {
	position: relative; 
	left: 43%; 
	top: 12px;
}